body{
  background-color: rgb(179, 79, 96);
}
.App-header {
  background-color: #9ca336;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  border: 15px solid rgb(31, 107, 31);
  border-radius: 30%;
}


.purpleText{
  color: rgb(141, 36, 141);
}

.blueText{
  color: rgb(62, 62, 161);
}

.pinkText{
  color: rgb(179, 79, 96);
}

.greenText{
  color:  rgb(31, 107, 31);
  font-weight: bold;
}

.redText{
  color: rgb(134, 38, 38);
  font-weight: bold;
}

.orangeText{
  color: rgb(153, 102, 6);
}

.yellowText{
  color: rgb(112, 112, 11);
  font-weight: bold;
}